html, body {
    height:100%;
    padding:0;
    margin:0;
}
.head-container{
    display: block;
    height: 40px;
    background-color: #3B5998;
}
.head-box1{
    position: relative;
    left: 240px;
    display: inline-block;
}
.head-box2{
    position: relative;
    left: 800px;
    bottom: 20px;
}
.set1{
    display: inline;
}
.set2{
    position: relative;
    display: inline;
    bottom: 4px;
}
.name-box{
    position: relative;
    display: inline;
    border: 0;
    color: white;
    font-size: 11px;
    padding: 6px;
    bottom : 10px;
    margin: 0px;
    background-color: #3B5998;
    cursor: pointer;
    
}
.name-box2{
    background-color: #3B5998;
    border: #3B5998;
    cursor: pointer;
}
.name-box:hover{
    background-color: teal;
}
.name-box1{
    position: relative;
    bottom : 5px;
    display: inline;
}

#image{
    position: relative;
    top : 4px;
}
.fix-size{
    width: 4%;
    height: auto;
    position: relative;
    top :  10px;
}
#search-bar {
    position: relative;  
    top : 3px;
    width: 350px;
}
#search-bar1{
    position: relative;
    right: 5.2px;
    top : 2px;
    cursor: pointer;
}
#search-bar1:hover{
    opacity: 90%;
}

.dropdown-content{
    position: absolute;
    display: none;
    min-width: 170px;
    top : 30px;
    right: 0px;
}
.dropdown-content::before{
    content: '';
    display:block;
    width:0;
    height:0;
    color:transparent;
    border:10px solid #CCC;
    border-color:transparent transparent #FFF;
    margin-top:-20px;
    margin-left:150px;
}
.dropdown-content a{
    color: black;
    background-color: gray;
    display: block;
    text-decoration: none;
}

.dropdown-content a:hover{
    background-color: wheat;
}
#notifications{
    display:none;
    width: 430px;
    position: absolute;
    top : 30px;
    left : 0;
    background: #FFF;
    border : solid 1px rgba(100,100,100, .20);
    
    
}
#notifications1{
    display:none;
    width: 430px;
    position: absolute;
    top : 30px;
    left : 0;
    background: #FFF;
    border : solid 1px rgba(100,100,100, .20);
    
}
#notifications2{
    display:none;
    width: 430px;
    position: absolute;
    top : 30px;
    left : 0;
    background: #FFF;
    border : solid 1px rgba(100,100,100, .20);
    
}
#notifications:before {
    content: '';
    display:block;
    width:0;
    height:0;
    color:transparent;
    border:10px solid #CCC;
    border-color:transparent transparent #FFF;
    margin-top:-20px;
    margin-left:10px;
}
#notifications1:before {
    content: '';
    display:block;
    width:0;
    height:0;
    color:transparent;
    border:10px solid #CCC;
    border-color:transparent transparent #FFF;
    margin-top:-20px;
    margin-left:45px;
}
#notifications2:before {
    content: '';
    display:block;
    width:0;
    height:0;
    color:transparent;
    border:10px solid #CCC;
    border-color:transparent transparent #FFF;
    margin-top:-20px;
    margin-left:80px;
}
.body-container{
   display: block;
   margin-left: 220px;
   width: 900px;
}
